@{
    ViewData["Title"] = "Admin Panel";
    Layout = "_Layout";
}
@model IEnumerable<User>

<div class="card">
    <div class="card-header">
        <h5>Admin Panel</h5>
        <a asp-controller = "admin" asp-action="uniquelink" class="btn btn-primary" role="button">Get unique link</a>
    </div>
    <div class="card-body">
        <table class="table bg-dark" style="width: 100%;">
            <thead class="text-left thead-borderless" style="display:table; width:100%; table-layout:fixed;">
                <tr class="text-light">
                    <th class="p-0 ps-3" style="width: 12% !important;" scope="col">Id</th>
                    <th class="p-0 ps-3 table-role" style="width: 45% !important;" scope="col">Name</th>
                    <th class="p-0 ps-3" scope="col">Role</th>
                    <th class="p-0 ps-3" scope="col"></th>
                </tr>
            </thead>
            <tbody class="adminpaneltbody mt-3 border-secondary" style="display:block; overflow-y:auto; table-layout:fixed; border-width:1px 0px 0px 0px;">
                @foreach (var user in Model)
                {
                    <tr class="mt-1" style="display: table; width: 100%; table-layout: fixed; ">
                        <td class="p-0 ps-3" style="width: 12% !important;" scope="row">@user.Id</td>
                        <td class="p-0 ps-3 table-role" style="width: 45% !important;">
                            <div>
                                <p class="fw-bold mb-1">@user.Name</p>
                                <p class="text-muted mb-0">Block: @user.Block</p>
                            </div>
                        </td>
                        <td class="p-0 ps-3">
                            <div>
                                <p class="fw-bold mb-1">@user.Role.Name</p>
                                <p class="text-muted mb-0">RoleId: @user.Role.Id</p>
                            </div>
                        </td>
                        <td class="p-0 ps-3" style="text-align:right;"><a asp-controller="admin" asp-action="edituser" asp-route-id="@user.Id"><i class="fa-solid fa-pen-to-square"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>