@{
    ViewData["Title"] = "All Logs";
    Layout = "_Layout";
}

@model PaginetedList<UserLog>
<div class="table-responsive scrollable">
    <table class="table text-nowrap">
    <thead>
        <tr>
        <th scope="col">Guid</th>
        <th scope="col">Username</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var log in Model)
    {
        <tr>
            <th class="text-warning" scope="row">@log.Guid</th>
            <td class="text-info" >@log.User.Name</td>
            <td class="text-warning">@log.CreatedDate.ToString("F")</td>
            <td class="text-info">@log.Action</td>
        </tr>
    }
    </tbody>
    </table>
</div>

 <div class="row pagginationDiv">
    <div class="col-12">
        <nav class="nav justify-content-center border-top border-white">
            <ul class="pagination mt-2">
                <li class="page-item @Model.PreviousDisabled()"><a class="page-link" asp-controller="admin" asp-action="logs" asp-route-pageNumber="@(Model.PageIndex-1)">Previous</a></li>
                @foreach (var item in Model.Pages(1))
                {
                    <li class="page-item @Model.ActivePage(item)"><a class="page-link " asp-controller="admin" asp-action="logs" asp-route-pageNumber="@item">@item</a></li>
                }
                <li class="page-item @Model.NextDisabled()"><a class="page-link" asp-controller="admin" asp-action="logs" asp-route-pageNumber="@(Model.PageIndex+1)">Next</a></li>
            </ul>
        </nav>
    </div>
</div>