
@{
    ViewData["Title"] = "Unique link panel";
    Layout = "_Layout";
}
@model PaginetedList<UniqueLink>
@inject IUniqueLinkService _uniqueLinkService
@{
    int minutes = _uniqueLinkService.GetCurrentExpireMintues();
    string textColor = String.Empty;
}

<div class="table-responsive scrollable">
    <table class="table text-nowrap">
    <thead>
        <tr>
            <th scope="col">Guid</th>
            <th scope="col">DateTimeExpire</th>
            <th scope="col">Type</th>
            <th scope="col">Author Name</th>
            <th scope="col">Author Id</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var link in Model)
    {
        <tr>
            <th class="text-warning" scope="row">@link.Guid</th>
            @{
                if (_uniqueLinkService.VerifyLink(link.Guid).GetAwaiter().GetResult())
                {
                    textColor = "text-success";
                }
                else
                {
                    textColor = "text-danger";
                }
            }
            <td class="@textColor">@link.DateTimeExpire.ToString("F")</td>
            <th class="text-warning" scope="row">@link.Type</th>
            <th style="color:@link.User.Color" scope="row">@link.User.Name</th>
            <th class="text-info"  scope="row">@link.User.Id</th>
            <td><a asp-controller="" asp-action="" asp-route-id="" asp-route-pNumber="@Model.PageIndex" class="btn btn-danger btn-sm">Delete</a></td>
        </tr>
    }
    </tbody>
    </table>
</div>

 <div class="row pagginationDiv">
    <div class="col-12">
        <nav class="nav justify-content-center border-top border-white">
            <ul class="pagination mt-2">
                <li class="page-item @Model.PreviousDisabled()"><a class="page-link" asp-controller="admin" asp-action="uniquelinkpanel" asp-route-pageNumber="@(Model.PageIndex-1)">Previous</a></li>
                @foreach (var item in Model.Pages(1))
                {
                    <li class="page-item @Model.ActivePage(item)"><a class="page-link " asp-controller="admin" asp-action="uniquelinkpanel" asp-route-pageNumber="@item">@item</a></li>
                }
                <li class="page-item @Model.NextDisabled()"><a class="page-link" asp-controller="admin" asp-action="uniquelinkpanel" asp-route-pageNumber="@(Model.PageIndex+1)">Next</a></li>
            </ul>
        </nav>
    </div>
</div>