@{
    ViewData["Title"] = "Users panel";
    Layout = "_Layout";
}
@model PaginetedList<User>

<div class="table-responsive scrollable">
    <table class="table text-nowrap">
    <thead>
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Username</th>
        <th scope="col">Added at</th>
        <th scope="col">Block status</th>
        <th scope="col">User role</th>
        <th scope="col">Color</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <th class="text-warning" scope="row">@user.Id</th>
            <td class="text-info">@user.Name</td>
            <td class="text-warning">@user.CreatedTime.ToString("D")</td>
            <td class="text-info">@user.Block</td>
            <td class="text-warning">@user.Role</td>
            <td style="color:@user.Color">@user.Color</td>
            <td><a asp-controller="admin" asp-action="edituser" asp-route-id="@user.Id" class="btn btn-info btn-sm">Edit</a></td>
        </tr>
    }
    </tbody>
    </table>
</div>

 <div class="row pagginationDiv">
    <div class="col-12">
        <nav class="nav justify-content-center border-top border-white">
            <ul class="pagination mt-2">
                <li class="page-item @Model.PreviousDisabled()"><a class="page-link" asp-controller="admin" asp-action="userspanel" asp-route-pageNumber="@(Model.PageIndex-1)">Previous</a></li>
                @foreach (var item in Model.Pages(1))
                {
                    <li class="page-item @Model.ActivePage(item)"><a class="page-link " asp-controller="admin" asp-action="userspanel" asp-route-pageNumber="@item">@item</a></li>
                }
                <li class="page-item @Model.NextDisabled()"><a class="page-link" asp-controller="admin" asp-action="userspanel" asp-route-pageNumber="@(Model.PageIndex+1)">Next</a></li>
            </ul>
        </nav>
    </div>
</div>



