@model AlbumDto
@inject IUserService _userService;
@inject ITrackService _trackService;
@{
    ViewData["Title"] = @Model.Title;
}

<div class="modal fade" id="infoAlbumModal" tabindex="-1" role="dialog" aria-labelledby="infoAlbumLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoAlbumLabel">Info</h5>
                <button type="button" class="close close-btn" data-bs-dismiss="modal" aria-label="Close"><span class="" aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                @if (!string.IsNullOrEmpty(Model.Description))
                {
                    <div class="p-1" style="border-bottom: 1px solid gray;">
                        @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Description))
                    </div>
                }
                <div class="mt-4">Guid: @Model.Guid</div>
                <div>Author: <a asp-action="profile" asp-controller="account" asp-route-name="@Model.User.Name" style="color:@Model.User.Color; text-decoration:none;">@Model.User.Name</a></div>
                <div>Posted: @Model.DateTimeCreate.ToString("f")</div>
                <div>Total tracks: @Model.CountTracks</div>
            </div>
        </div>
    </div>
</div> 


<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                @Model.Title
            </div>
            <div class="col-6 text-end">
                <div class="btn-group" role="group">
                    @if (_userService.IsAuthorOrAdmin(Model.UserId))
                    {
                        <a asp-action="editalbum" asp-controller="library" asp-route-guid="@Model.Guid" class="btn btn-info btn-sm"><i class="bi bi-pencil-square"></i> Edit</a>
                    }
                    <button type="button" data-bs-toggle="modal" data-bs-target="#infoAlbumModal" class="btn btn-info btn-sm mx-2"><i class="bi bi-info-square"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
    @if (Model.Tracks is not null && Model.Tracks.Count() > 0)
    {
        <div class="row">
        @foreach (var item in Model.Tracks)
        {
            if (!_trackService.VerifyAccess(item.TrackAccess, item.UserId))
                continue;
            <div class="col-md-2 col-6 p-3 icon-item">
                <div class="row">
                    <div class="col-12 text-center">
                        <a asp-action="track" asp-controller="library" asp-route-guid="@item.Guid" style="text-decoration: none;">
                            <h1><i class="bi bi-file-earmark-music"></i></h1>
                            <span class="mt-0 align-text-top">@item.Title</span>
                        </a>
                    </div>
                </div>
            </div>
        }
        </div>
    }
    else
    {
        <partial name="_NoResultPartial"/>
    }
    </div>
</div>
