@model AlbumDto
@{
    ViewData["Title"] = @Model.Name;
    var isAuthorized = Model.UserId == int.Parse(User.FindFirst(x => x.Type == ClaimTypes.NameIdentifier).Value);
}


<div class="card">
    <div class="card-header text-md-start text-center">
        <div class="text-info">
            <h2>@Model.Name</h2>
        </div>
        <div class="mt-2">
            <a style="text-decoration: none; color:@Model.User.Color;" asp-action="profile" asp-controller="account" asp-route-name="@Model.User.Name">@Model.User.Name</a>
        </div>
        <div class="mt-4">Total tracks: @Model.CountTracks</div>
        <div>Album release date: @Model.DateTimeCreate.ToString("d")</div>
        
        <div class="text-muted mt-4">
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Description))
        </div>

        @if (isAuthorized)
        {
            <a asp-action="editalbum" asp-controller="library" asp-route-guid="@Model.Guid" class="btn btn-sm btn-info"><i class="bi bi-pencil-square mt-1"></i> Edit album</a>
        }

    </div>

    <div class="card-body">
    @if (Model.Tracks is not null && Model.Tracks.Count() > 0)
    {
        <div class="row">
        @foreach (var item in Model.Tracks)
        {
            <div class="col-md-2 col-6 p-3 icon-item">
                <div class="row">
                    <div class="col-12 text-center">
                        <a asp-action="track" asp-controller="library" asp-route-guid="@item.Guid" style="text-decoration: none;">
                            <h1><i class="bi bi-file-earmark-music"></i></h1>
                            <span class="mt-0 align-text-top">@item.Title</span>
                        </a>
                    </div>
                </div>
            </div>
        }
        </div>
    }
    else
    {
        <partial name="_NoResultPartial"/>
    }
    </div>
</div>
