@model EditTrackDto
@inject ITrackService _trackService
@inject IAlbumService _albumService;
@inject IUserContextService _userContextService;
@{
    ViewData["Title"] = PageTitle.PageTitle21(Model.Title);
    Layout = "_Layout";
}

<div class="row mt-5">
    <div class="modal fade" id="removeTrackModal" tabindex="-1" role="dialog" aria-labelledby="removeTrackModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeTrackModalLabel">Remove track</h5>
                    <button type="button" class="close close-btn" data-bs-dismiss="modal" aria-label="Close"><span class="" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span>@Message.Code43(Model.Title)</span>
                    </div>
                    <form method="post" asp-controller="library" asp-action="deletetrack" asp-route-guid="@Model.Guid">
                        <div class="form-group mt-3 text-center">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="card formBox">
            <div class="card-header">
                <h5>Edit track</h5>
                <div class="form-group mt-3 text-start">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#removeTrackModal" class="btn btn-danger btn-sm">Delete track</button>
                    @if (!string.IsNullOrEmpty(Model.AlbumName))
                    {
                        <button type="button" data-bs-toggle="modal" data-bs-target="#removeFromAlbumModal" class="btn btn-warning btn-sm">Remove from album</button>
                    }
                </div>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="library" asp-action="edittrack" asp-route-guid="@Model.Guid">
                    <div class="validation text-danger" asp-validation-summary="All"></div>
                    <div class="form-group mt-1">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" placeholder="Update title">
                    </div>
                    <div class="form-group mt-1">
                        <label asp-for="Description"></label>
                        <textarea id="textareaDescription" asp-for="Description" class="form-control" placeholder="Update description" style="resize: none;"></textarea>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="LyricsAccess"></label>
                        <select asp-for="LyricsAccess" class="form-control">
                        @foreach (var item in LibraryAccess.Access)
                        {
                            <option>@item</option>
                        }
                        </select>
                    </div>

                    <div class="form-group mt-1">
                        <label asp-for="Lyrics"></label>
                        <textarea id="textareaLyrics" asp-for="Lyrics" class="form-control" placeholder="Update lyrics" style="resize: none;"></textarea>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="TrackAccess"></label>
                        <select asp-for="TrackAccess" class="form-control">
                        @foreach (var item in LibraryAccess.Access)
                        {
                            <option>@item</option>
                        }
                        </select>
                    </div>

                    @if(_albumService.GetCountOfAlbumsByUserId(_userContextService.GetUserId()).GetAwaiter().GetResult() > 0)
                    {
                        <div class="form-check form-switch mt-3">
                            <label class="form-check-label" asp-for="IsAlbumSelectedToChoose"></label>
                            <input class="form-check-input" type="checkbox" asp-for="IsAlbumSelectedToChoose" id="IsAlbumSelectedToChoose" checked>
                        </div>

                        <div class="form-group mt-1" id="chooseAlbums">
                            <label asp-for="AlbumName"></label>
                            <select asp-for="AlbumName" class="form-control">
                            @foreach (var item in _albumService.GetAllUserAlbums(_userContextService.GetUserId()))
                            {
                                <option>@item.Title</option>
                            }
                            </select>
                        </div>
                    }

                    <div class="form-group mt-3 text-center">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        const IsAlbumSelectedToChoose = document.getElementById("IsAlbumSelectedToChoose");
        const chooseAlbums = document.getElementById("chooseAlbums");
        IsAlbumSelectedToChoose.addEventListener("click", function(){
            if (chooseAlbums.style.display === "none") {
                chooseAlbums.style.display = "block";
            } else {
                chooseAlbums.style.display = "none";
            }
        });

        CKEDITOR.replace('textareaDescription', {
            customConfig: '/ckeditor/custom/config.js'
        });
        CKEDITOR.replace('textareaLyrics', {
            customConfig: '/ckeditor/custom/config.js'
        });
    </script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}