@model TrackDto
@inject IUserService _userService;
@inject ITrackService _trackService;
@{
    ViewData["Title"] = @Model.Title;
    if (User.Identity.IsAuthenticated)
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_SimpleLayout";
    }
    var urlStream = $"{Context.Request.Scheme}://{Context.Request.Host}{Url.Action("stream","library",new {guid=Model.Guid})}";
    var urlTrack = $"{Context.Request.Scheme}://{Context.Request.Host}{Url.Action("track","library",new {guid=Model.Guid})}";

    
}
@if (User.Identity.IsAuthenticated)
{
    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="shareModalLabel">Share</h5>
                    <button type="button" class="close close-btn" data-bs-dismiss="modal" aria-label="Close"><span class="" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button id="buttonCopy" class="btn btn-outline-secondary" type="button">Copy</button>
                        </div>
                            <input id="elementToCopy" type="text" class="form-control w-25"  readonly="readonly" value="@urlTrack">
                        </div>
                    <div id="elementInfo" style="display:none;" class="text-success"><i class="bi bi-check-circle"></i> Url copied</div>
                </div>
            </div>
        </div>
    </div> 

    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Info</h5>
                    <button type="button" class="close close-btn" data-bs-dismiss="modal" aria-label="Close"><span class="" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    @if (!string.IsNullOrEmpty(Model.Description))
                    {
                        <div class="p-1" style="border-bottom: 1px solid gray;">
                            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Description))
                        </div>
                    }
                    <div class="mt-4">Guid: @Model.Guid</div>
                    <div>Author: <a asp-action="profile" asp-controller="account" asp-route-name="@Model.User.Name" style="color:@Model.User.Color; text-decoration:none;">@Model.User.Name</a></div>
                    <div>Posted: @Model.DateTimeCreate.ToString("f")</div>
                    <div>Access track: @Model.TrackAccess</div>
                    <div>Access lyrics: @Model.LyricsAccess</div>
                    <div>Size: @Model.Size MB</div>
                    <div>Type: @Model.Extension</div>
                    @if (!string.IsNullOrEmpty(Model.AlbumName))
                    {
                        <div>Album: <a asp-action="album" asp-controller="library" asp-route-guid="@Model.AlbumGuid" style="text-decoration:none;">@Model.AlbumName</a></div>
                    }
                </div>
            </div>
        </div>
    </div> 
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8 col-12 text-center text-md-start">
                        @Model.Title
                    </div>
                    <div class="col-md-4 col-12 text-md-end text-center mt-md-0 mt-2">
                        <div class="btn-group" role="group">
                            @if(User.Identity.IsAuthenticated)
                            {
                                <button type="button" data-bs-toggle="modal" data-bs-target="#shareModal" class="btn btn-info mx-2 btn-sm"><i class="bi bi-share-fill"></i> Share</button>
                                <button type="button" data-bs-toggle="modal" data-bs-target="#infoModal" class="btn btn-info mx-2 btn-sm"><i class="bi bi-info-square"></i></button>
                                if (_userService.IsAuthorOrAdmin(Model.UserId))
                                {
                                    <a asp-action="edittrack" asp-controller="library" asp-route-guid="@Model.Guid" class="btn btn-warning mx-2 btn-sm"><i class="bi bi-pencil-square"></i> Edit</a>
                                }
                                @if (!string.IsNullOrEmpty(Model.AlbumName))
                                {
                                    <a asp-action="album" asp-controller="library" asp-route-guid="@Model.AlbumGuid" class="btn btn-success mx-2 btn-sm"><i class="bi bi-folder-symlink"></i> @Model.AlbumName</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <audio controls class="mt-5">
                            <source src="@urlStream" type="audio/mpeg">
                        </audio>
                    </div>
                    <div class="col-12 mt-2 d-flex justify-content-center" style="border-top: 1px solid gray; padding-top:50px;">
                        @if (_trackService.VerifyAccess(Model.LyricsAccess, Model.UserId))
                        {
                            if (!string.IsNullOrEmpty(Model.Lyrics))
                            {
                                <div class="text-start p-5 lyrics-shadows" style="font-size:18px; letter-spacing:1px;">
                                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Lyrics))
                                </div>
                            }
                            else
                            {
                                <div class="text-danger text-center">No lyrics</div>
                            } 
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script src="~/js/copyTextFunction.js"></script>
<script>
    document.getElementById("buttonCopy").addEventListener("click", function(){
        copyText(document.getElementById("elementToCopy"), document.getElementById("elementInfo"));
    });
</script>
}